
.farmdTitle {
  margin-left: 300px;
  text-decoration-line: underline;
  margin-top: 10px;
 }


.farmerproduce {
  display: flex;
  margin: 0px auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  
 }


.farmerProducts {
  border: 2px solid #f1f1f1;
  width: 250px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-left: 50px;
  
}
button.increment, button.decrement {
    width:50%;
}
button.produce-btn {
   width:90%;
   padding: 5px 25px;
}
button{
   background-color: #4CAF50;
   color: white; 
   padding: 14px 20px; 
   border: none; 
   cursor: pointer; 
   width: 10%; 
   height: 44px;
}
.logoff-btn {
   position: absolute;
   top: 10px;
   right: 10px;
  
}
.feedBack{
   position: absolute;
   top: 10px;
   right: 8px;
}
h2 {
   display: none;
}

.edit {
   height: 30px;
   padding: 10px 10px; 
   position: absolute;
   left: 10px;
   top: 60px;
   width: 50px;
}

.delete {
   height: 30px;
   padding: 10px 10px;
   position: absolute;
   left: 10px;
   top: 95px;
   width: 50px;
}

.add {
   height: 30px;
   padding: 10px 10px; 
   position: absolute;
   top: 25px;
   left: 10px;
   width: 50px;
}
.vertical-menu {
   width: 320px;
   margin-top: 20px;
   margin-bottom: 0px;
   padding-bottom:50px;
   
  
   
 }
 a {
   text-decoration: none;
}
 .vertical-menu button {
   background-color: #eee;
   color: black;
   display: block;
   padding: 12px;
   text-decoration: none;
   width: 150px;
   padding-left: 30px;
   text-align: left;
   margin-bottom:5px;
   
 
 }
 
 .vertical-menu button:hover {
   background-color: #ccc;

 }
 
 .vertical-menu button.active {
   background: #2a8000;
   color: white;
   text-decoration: none;
   font-size: 13px;
   
 }
 .vertical-menu button.non-active {
    cursor: none;
    background-color:gold;

 }
 
 

 .farmcontainer{
    display: flex;
 }

 .produce-btn {
   background-color: #4CAF50;
   color: white; 
   padding: 4px 10px; 
   border: none; 
   cursor: pointer; 
   width: 50%; 
   height: 40px;
 }

 a:link {
    text-decoration: none;

 }

 a:visited{
    text-decoration: none;
 }
 a:hover {
   text-decoration: none;
 }
 
 a:active {
   text-decoration: none;
 }
h2{
   text-emphasis: bold;
   color: grey;
}
p{
   color: green;
   
}

.svg-inline--fa{
   padding-right:3px;
}
