.feedback-form { 
  border: 3px solid #f1f1f1; 
  width: 280px;
  margin: 20px auto 0px auto;
  height: 390px;
  button.feedback-button {
    background-color: #4CAF50;
    color: white; 
    padding: 7px 25px; 
    margin:40px auto; 
    border: none; 
    cursor: pointer; 
    width: 90%; 
    height: 44px;
    &:hover {
       background:#006400; 
       color: #FFFFFF;
    }
    &:visited {
      background: #ADFF2F;
      color: #FF0000;
    }
  }
  .feedback {
    margin-top: 60px;
  }
  .container {
      padding: 16px;
      .error {
        margin-bottom: 20px;
        position: absolute; 
        color: #721c24; 
        text-align: left;
        background-color: #f8d7da; 
        border-color: #f5c6cb;
        border-radius: 4px; 
        padding: 5px 10px; 
        top: 157px;
        width: 268px;
      }
      .name {
        top: 20px;
      }
      .comment {
       top: 50px;
      }
      
      
    li{
        list-style-type: none;
        padding: 2px;
        margin-right: 30px;
        bottom: 50px;
        color: white;
      }
      ul{
        border: 3px solid #f1f1f1; 
        background: green;
        }
    }
  
   
  }