.farmerdtitle {
  text-align: center;
  text-emphasis: bold;
}

.farmerproduce {
  display: flex;
  margin: 0px auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  
}
.farmerProducts {
  border: 2px solid #f1f1f1;
  width: 300px;
  margin-right: 20px;
  margin-bottom: 20px;
  
}

.logoff-btn {
   position: absolute;
   top: 10px;
   right: 10px;
   background-color: #4CAF50;
   color: white; 
   padding: 14px 20px; 
   border: none; 
   cursor: pointer; 
   width: 10%; 
   height: 44px;
}
h2{
   display: none;
}

